.PagedList-pager > ul{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.PagedList-pager > ul > li{
	margin: .25em;
	display: inline-block;
}
.PagedList-goToPage > fieldset{
	border: 0;
}