<ul>
{{if pagedList.HasPreviousPage}}
	<li class="PagedList-skipToPrevious"><a href="${generatePageUrl(pagedList.PageNumber - 1)}" data-page="${pagedList.PageNumber - 1}">&larr; Previous</a></li>
{{else}}
	<li class="disabled PagedList-skipToPrevious"><a>&larr; Previous</a></li>
{{/if}}

{{if renderOptions.showStartEllipses}}
	<li class="PagedList-ellipses disabled"><a>&#8230;</a></li>
{{/if}}

{{each renderOptions.pages}}
{{if $value == pagedList.PageNumber}}
	<li class="active PagedList-skipToPage"><a href="${generatePageUrl($value)}" data-page="${$value}">${$value}</a></li>
{{else}}
	<li class="PagedList-skipToPage"><a href="${generatePageUrl($value)}" data-page="${$value}">${$value}</a></li>
{{/if}}
{{/each}}

{{if renderOptions.showEndEllipses}}
	<li class="PagedList-ellipses disabled"><a>&#8230;</a></li>
{{/if}}

{{if pagedList.HasNextPage}}
	<li class="PagedList-skipToNext next"><a href="${generatePageUrl(pagedList.PageNumber + 1)}" data-page="${pagedList.PageNumber + 1}">Next &rarr;</a></li>
{{else}}
	<li class="disabled PagedList-skipToNext next"><a>Next &rarr;</a></li>
{{/if}}
</ul>