@{
    ViewBag.Title = "Product Listing";
}


<!-- loop through each of your products and display it however you want. we're just printing the name here -->
<h2>List of Products</h2>
<div id="nameListContainer">
    <partial name="_NameListPartial" model="ViewBag.Names" />
</div>