TestResult.xml
Tests.VisualState.xml
[Bb]in
[Oo]bj
[Rr]elease
[Dd]ebug
*.bak
*.manifest
*.cache
*.suo
*.orig
*.user
*.vspscc
LastBuild.log
.svn
_ReSharper*
.DS_Store
packages/PagedList/lib/40/
packages/PagedList.Mvc/content/
packages/PagedList.Mvc/lib/40/
packages/*.nupkg
src/PagedList.Mvc/Content/