@{
    ViewBag.Title = "Automapper";
}
@model X.PagedList.IPagedList<X.PagedList.Mvc.Example.Controllers.AutomapperController.OrderViewModel>
@using System.Web.Optimization
@using X.PagedList.Mvc;

@Styles.Render("~/Content/PagedList.css")

<h2>Integrating with <a href="http://automapper.codeplex.com/">AutoMapper</a></h2>
<ul>
	@foreach (var example in Model){ 
		<p>@example.CustomerName: $@example.Total</p>
	}
</ul>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }) )