@{
	ViewBag.Title = "Unobtrusive Ajax";
}
@using PagedList;
@using PagedList.Mvc;

<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js "></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"></script>

<h2>PagedList.Mvc.Example Website : Unobtrusive Ajax</h2>

<p>Example of paging a list:</p>

<div id="unobtrusive">
	@Html.Partial("UnobtrusiveAjax_Partial")
</div>