@using PagedList
@using PagedList.Mvc
@model IPagedList<PagedList.Mvc.Example.Controllers.AutomappedListController.OrderDto>
@{
	
	ViewBag.Title = "Automapper Example";
}

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Automapper Example</h2>
<ul>
	@foreach (var example in Model){ 
		<p>@example.CustomerName: $@example.Total</p>
	}
</ul>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }) )
