@{
	ViewBag.Title = "Unobtrusive Ajax";
}
@using PagedList;
@using PagedList.Mvc;

@Styles.Render("~/Content/bootstrap-2.0.4.css")

<h2>Unobtrusive Ajax</h2>

<p>Example of paging a list:</p>
<div id="unobtrusive">
	@Html.Partial("UnobtrusiveAjax_Partial")
</div>

@section Scripts{
	<script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}