@{
	ViewBag.Title = "Infinite Scrolling";
}
@using PagedList;
@using PagedList.Mvc;

<h2>PagedList.Mvc.Example Website : Infinite Scrolling</h2>
<h3>Note: This example leverages the <a href="http://imakewebthings.github.com/jquery-waypoints/">jQuery Waypoints</a> library.</h3>

<ol id="namesList"></ol>
<div id="namesWaypoint">.</div>

@section Scripts{
	<script type="text/javascript" src="/Scripts/waypoints.min.js"></script>
	<script type="text/javascript">
		$(function () {
			var page = 1;
			var $ol = $('#namesList');
			var $waypoint = $('#namesWaypoint');

			var opts = { offset: '100%' };
			$waypoint.waypoint(function () {
				console.log('waypoint triggered');
				$waypoint.waypoint('remove');
				$.get('/infinitescroll/ajaxpage?page=' + page++, function (data) {
					data.names.forEach(function (name) {
						$ol.append($('<li>').text(name));
					});
					$waypoint.waypoint(opts);
				});
			}, { offset: '100%' });
		});
	</script>
}